// fonts
$f-primary: 'Source Sans Pro';


// colors
$color-primary: #212121;
$color-secondary: black;
$color-active: #b8144c;

$c-white: #fff;
$c-orange: #e28421;

// sizes
$s-h1: 48;
$s-h2: 34;
$s-h3: 20;

$s-large: 1170px;


// Foundation
$container-small: 420px;
$container-medium: 768px;
$container-large: 980px;
$container-xlarge: 1170px;
$container-xxlarge: 1440px;
